apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-layer-web
  labels:
    app: application-layer-web
spec:
  selector:
    matchLabels:
      app: application-layer-web
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: application-layer-web
    spec:
      automountServiceAccountToken: false
      initContainers: []
      containers:
      - name: application-layer-web
        image: ceyoniq.azurecr.io/release/nscale/application-layer-web:ubi.10.1.1100.126944
        imagePullPolicy: Always
        startupProbe:
          httpGet:
            path: /nscale_web/systemConfiguration.xml
            port: web
          initialDelaySeconds: 10
          failureThreshold: 6
        livenessProbe:
          httpGet:
            path: /nscale_web/
            port: web
          initialDelaySeconds: 60
        readinessProbe:
          httpGet:
            path: /nscale_web/systemConfiguration.xml
            port: web
        env:
          - name: NSCALE_HOST
            value: application-layer
          - name: NSCALE_PORT
            value: "8080"
          - name: NSCALE_INSTANCE
            value: nscalealinst1
          - name: NSCALE_SSL
            value: "false"
          - name: JAVA_OPTS
            value: -XX:MaxRAMPercentage=50.0 -Duser.country=DE -Duser.language=de
          - name: LOG4JCONFIGLOCATION
            value: ../conf/log4j/nscale_stdout_log_conf.xml
        ports:
        - containerPort: 8090
          name: web
        volumeMounts:
        - name: log4j
          mountPath: /opt/ceyoniq/nscale-server/application-layer-web/conf/log4j
      volumes:
      - name: log4j
        configMap:
          name: application-layer-web-log4j

---
apiVersion: v1
kind: Service
metadata:
  name: application-layer-web
  labels:
    service: application-layer-web
spec:
  ports:
  - port: 8090
    targetPort: 8090
    name: web
    appProtocol: http
  selector:
    app: application-layer-web

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: application-layer-web
  labels:
    app: application-layer-web
spec:
  minAvailable: 0
  selector:
    matchLabels:
      app: application-layer-web
