apiVersion: batch/v1
kind: Job
metadata:
  name: application-layer-setup
  labels:
    app: application-layer-setup
spec:
  template:
    metadata:
      labels:
        #sidecar.istio.io/inject: "false"
        app: application-layer-setup
      annotations:
        traffic.sidecar.istio.io/excludeOutboundPorts: "443"
    spec:
      serviceAccountName: kubeapi-svc-account
      imagePullSecrets:
      - name: regcred
      initContainers:
      - name: wait-for-application-layer
        image: docker.io/bitnamilegacy/kubectl:1.32
        imagePullPolicy: Always
        args:
        - wait 
        - pod 
        - --for=condition=ready 
        - --selector 
        - 'app=application-layer'
        - --timeout=150s
        securityContext:
          runAsUser: 10001
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        resources:
          limits:
            cpu: "50m"
            memory: "50Mi"
            ephemeral-storage: "0Mi"
          requests:
            cpu: "10m"
            memory: "10Mi"
            ephemeral-storage: "0Mi"
      containers:
      - name: application-layer
        image: ceyoniq.azurecr.io/release/nscale/application-layer:ubi.10.1.1101.2025102921
        imagePullPolicy: Always
        command: ["/bin/sh", "-c"]
        args:
        - > 
          echo "initialize Document Area 'DA'";
          java -jar ./al-cmdclient-*.jar -host application-layer run-cfg-method -method lockSystem || exit 1;
          java -jar ./al-cmdclient-*.jar -host application-layer scenario-da -da DA -displayname DA -rs host=rendition-server -sl host=storage-layer || exit 1;
          java -jar ./al-cmdclient-*.jar -host application-layer run-cfg-method -method unlockSystem || exit 1;
          echo "done";
        securityContext:
          runAsUser: 10001
          readOnlyRootFilesystem: false
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        resources:
          limits:
            cpu: "1000m"
            memory: "1500Mi"
            ephemeral-storage: "900Mi"
          requests:
            cpu: "100m"
            memory: "1000Mi"
            ephemeral-storage: "800Mi"
      restartPolicy: Never
  backoffLimit: 3
  #activeDeadlineSeconds: 180
